<h1><%= @product.name %></h1>
<h2><%= @product.price %></h2>
<p><%= @product.description %></p>

<%= link_to "Edit", edit_product_path(@product) %>
<%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure"} %>

<h2>Reviews</h2>
<p><%= notice %></p>

<div class="reviews">
  <% @product.reviews.each do |rev|%>
    <%= render "/reviews/review", rev: rev %>
  <% end %>
</div>

<!-- shortcut for all of the above, stick to naming conventions and it'll work -->
<%#= render @product.reviews %>

<h3>Create a Review</h3>
<%= @review.errors.full_messages.join(", ") %>
<%= form_for [@product, @review], remote: true do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
